body {
  display: grid;
  place-content: center;
}
article {
  text-align: left;
  dl {
    display: grid;
    place-content: center;
    gap: 1rem;
  }

  dt {
    font-family: headings;
    color: var(--brickFire);
    text-decoration: underline solid;
  }

  dd {
    display: grid;
    place-content: center;
    font-size: 1.5rem;
  }

  a {
    font-size: inherit;
    border: none;
    border-radius: 10px;
    background-color: var(--pinkSpace);
  }
}
.intro {
  font-family: side;
  color: var(--greenEarth);
}

circle:active {
  fill: var(--yellowAir);
  transition: fill 0.1s ease;
}
