p {
  text-align: left;
  font-size: 1.5rem;
}

article {
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
}

a {
  display: grid;
}

.links {
  border: var(--linksBorder);
  border-radius: 10px;
  display: grid;
  place-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 1rem;
  padding-bottom: 1rem;

  h2 {
    grid-column: 1 / 4;
  }
  p {
    text-align: center;
  }
  a {
    display: grid;
    place-content: center;
  }
}

.side {
  text-align: right;
}

img {
}
