p {
  text-align: left;
  font-size: 1.5rem;
}

article {
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
}

.bio {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  margin: auto;
  width: 30vw;
  height: 30vw;
}

.eyes {
  transition: all 0.5s linear;
}

.logo:hover {
  .eyes {
    fill: var(--greenEarth);
    y: 70;
    height: 20px;
  }
}

.links {
  border: var(--linksBorder);
  border-radius: 10px;
  display: grid;

  p {
    text-align: center;
  }
  .linkSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  a:hover {
    border: none;
    #icons,
    .linked,
    .ig {
      border: var(--testBorder);
      fill: var(--orangeWater);
    }
  }
  .externalLogo {
    border: none;
  }
}

.side {
  text-align: right;
}
