p {
  text-align: left;
  font-size: 1.5rem;
}

article {
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
}

.bio {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  margin: auto;
  width: 30vw;
  height: 30vw;
}

.eyes {
  transition: all 0.5s linear;
}

.hand {
  stroke-width: 10;
  stroke: #000;
}
.fullHand {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in;
}

.logo:hover {
  .eyes {
    y: 20;
    height: 100px;
  }

  .fullHand {
    opacity: 1;
    visibility: visible;
  }
}

.links {
  border: var(--linksBorder);
  border-radius: 10px;
  display: grid;

  p {
    text-align: center;
  }

  .linkSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a:hover {
    padding: 0;
    border: none;
    #icons,
    .linked,
    .ig {
      fill: var(--orangeWater);
    }
  }

  .externalLogo {
    border: none;
  }
}

.side {
  text-align: right;
}
